h1,h2{
    text-align: center;
}

#main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    height: 800px;
    width: 800px;
    outline: 2px solid blue;
 gap: 0;
}

.box{
    background-color: red;
    padding: 0;
    margin: 0;
    outline: 1px solid blue;
    
}
h2{
    font-size: xx-large;
}
.colorx{
    background-color: green;
    margin-left: 10%;
    margin-top: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
   
    margin-right: 78%;
}

input{
    background-color: green;
    border-color: green;
    height: 50px;
    
}
