h1{
    text-align: center;
}

#main{
    display: flex;
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    height: 800px;
    width: 800px;
    outline: 2px dashed blue;

}

.box{
    background-color: blue;
    width: 100%;
}